{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Jugador</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Guardar</button>
    {{ form_end(form) }}
{% endblock %}
